* {
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    background-image: linear-gradient(white, black);
}
header {
    text-align: center;
    padding-top: 30px;
}
.menu {
    text-align: center;
    list-style: none;
}
.menu li {
    float: left;
    background-color: black;
    color: white;
    padding: 10px 25px;
    width: 300px;
    border-right: 1px solid white;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.li-submenu:hover {
    padding-bottom: 9px;
    box-sizing: border-box;
}
.menu li:hover {
    background-color:slategrey;
    cursor: pointer;
}
.sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 12px;
    margin-left: -25px;
    text-align: center;

}
.sub-menu li {
    clear: left;
}
.sub-menu li:hover {
    background-color: slategrey;
    font-weight: bold;
    display: block;


}
.menu li:hover .sub-menu {
    display: block;
}
.audio {
    
    width: 30%;
    text-align: center;
    padding-bottom: 35px;
    height: 380px;
    margin-left: 200px;
    border:black solid 2px;
    border-radius: 10px; 
    background-image: url(/imagenes/ee1674ca6e9b5c8f9798b061ed41308e66dc138a_hq.jpg);
    color:white

}

.video { 
    
    width: 30%;
    height: 360px;
    text-align: center;
    margin-left: 200px;
    border:black solid 2px;
    border-radius: 10px; 
    color: white;
    background-image: url(/imagenes/circuitos-dedos-tactil-tecnologia-wallpaper-preview.jpg);
}
video {
    width: 60%;
    height: 220px;
}
h1 {
    padding-top: 10px;
}

footer {
    position: absolute;
    padding-bottom: 0;
    background-color: black;
    width: 100%;
    height: 110px;
    color: white;
    text-align: center;
} 
.formulario {
    width: 500px;
    border: black solid 2px;
    float:right ;
    height: 870px;
    margin-right: 200px;
    border-radius: 10px;
    background-image:url(/imagenes/fondos-pantalla-full-hd-animales_4.jpg);
    color: white;
}
form {
    padding: 5px;
}

label {
    font-size: 13px;
    color:black;

}

.lblEtiqueta {
    width: 20%;

}

.divRow {
    width: 90%;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
}
.Registrar {
    padding-top: 25px;
    padding-left: 270px;
}

